@page "/"
@inject HttpClient Http

<PageTitle>HelloAD</PageTitle>
<div>@MarkupString</div>

<div>TEST_VAR</div>
<div>@GetTestVar()</div>
@code {
	protected override async Task OnInitializedAsync()
	{
		MarkupString = (MarkupString)Markdig.Markdown.ToHtml(await Http.GetStringAsync("README.md"));

	}
	private MarkupString MarkupString { get; set; }
	private string GetTestVar()
	{
		if(Environment.GetEnvironmentVariable("TEST_VAR") == null)
		{
			Environment.SetEnvironmentVariable("TEST_VAR", "TEST_VAR is not set");
		}
		return Environment.GetEnvironmentVariable("TEST_VAR");
	}
}