@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <main>
        <FluentHeader>
            HelloAD
        </FluentHeader>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

